@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-display text-4xl font-normal tracking-tight;
  }

  h2 {
    @apply font-display text-3xl font-normal tracking-tight;
  }

  h3 {
    @apply font-display text-2xl font-normal tracking-tight;
  }

  h4 {
    @apply font-display text-xl font-normal;
  }

  h5 {
    @apply font-display text-lg font-normal;
  }

  h6 {
    @apply font-display text-base font-normal;
  }
}